anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
brotlicffi
certifi
cffi
charset-normalizer
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
platformdirs
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyodbc
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack_data
terminado
tinycss2
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
